In [1]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
augm_path = './Data/augmented_movies.csv'
lboxd_path = './Data/lboxd_IDcoded.csv'

augm_df = pd.read_csv(augm_path, index_col=0)
lboxd_df = pd.read_csv(lboxd_path)

In [3]:
augm_df.rename(columns={'name':'title'}, inplace=True)
augm_df

,title,date,minute,mean_rating,genre,country
0,!Women Art Revolution,NaN,NaN,NaN,NaN,NaN
1,#005,2020.0,3.0,NaN,"['Animation', 'Documentary']",['Spain']
2,#1 Cheerleader Camp,2010.0,95.0,2.44,['Comedy'],['USA']
3,#1 Fan: A Darkomentary,2005.0,13.0,3.45,['Comedy'],['USA']
4,#21xoxo,2019.0,9.0,NaN,['Animation'],['Belgium']
...,...,...,...,...,...,...
108270,死んだ僕の彼女,2020.0,4.0,NaN,[nan],['Japan']
108271,火,2014.0,15.0,NaN,[nan],['China']
108272,鬼鎮 (Ghosttown),2020.0,65.0,NaN,['Western'],['USA']
108273,소드 아트 온라인 1기,NaN,NaN,NaN,NaN,NaN
108274,정지우x김무열x조은지 Project: Personal Movie,2014.0,4.0,NaN,"['Action', 'Music']",['South Korea']

In [4]:
lboxd_df

         user                                        title  rating  movie_id
0         144                 Puss in Boots: The Last Wish     4.5     66829
1         144  The Guardians of the Galaxy Holiday Special     4.0     87522
2         144                             Dinosaur Hotel 2     2.0     25219
3         144                                Strange World     2.5     77851
4         144                 Zen - Grogu and Dust Bunnies     3.0    108598
...       ...                                          ...     ...       ...
1433485   290                               Newark Athlete     0.0     58824
1433486   290                        Roundhay Garden Scene     0.0     70149
1433487   290                   Sallie Gardner at a Gallop     0.0     70959
1433488   290                            This Land Is Mine     0.0     98758
1433489   290                                  Heavy Heads     0.0     37551

[1433490 rows x 4 columns]

In [5]:
augm_merged = pd.merge(lboxd_df, augm_df, on='title')
augm_merged

,user,title,rating,movie_id,date,minute,mean_rating,genre,country
0,144,Puss in Boots: The Last Wish,4.5,66829,2022.0,103.0,4.16,"['Comedy', 'Action', 'Adventure', 'Family', 'A...",['USA']
1,144,The Guardians of the Galaxy Holiday Special,4.0,87522,2022.0,45.0,3.25,"['Comedy', 'Adventure', 'Science Fiction']",['USA']
2,144,Dinosaur Hotel 2,2.0,25219,2022.0,80.0,NaN,['Horror'],['UK']
3,144,Strange World,2.5,77851,2022.0,102.0,2.84,"['Science Fiction', 'Animation', 'Adventure', ...",['USA']
4,144,Zen - Grogu and Dust Bunnies,3.0,108598,2022.0,3.0,3.11,"['Fantasy', 'Animation', 'Science Fiction']","['Japan', 'USA']"
...,...,...,...,...,...,...,...,...,...
1433485,290,Newark Athlete,0.0,58824,1891.0,1.0,2.62,['Documentary'],['USA']
1433486,290,Roundhay Garden Scene,0.0,70149,1888.0,1.0,3.27,['Documentary'],['UK']
1433487,290,Sallie Gardner at a Gallop,0.0,70959,1878.0,1.0,3.69,"['Documentary', 'Animation']",['USA']
1433488,290,This Land Is Mine,0.0,98758,1943.0,103.0,3.73,"['Drama', 'War']",['USA']
1433489,290,Heavy Heads,0.0,37551,NaN,8.0,NaN,[nan],[nan]

In [6]:
augm_merged.to_csv('./Data/augm_lboxd.csv', index=False)